:root{
    --general-text-color: white;

    --nav-hover-color: #422e32;
    --nav-bg-color: #050105;
    --nav-border-color: #12020b;
    
    --proj-cardBg-color: #0e0000;
    --proj-highlight-red: #200008;
    --proj-highlight-textSize: 1.5rem;
    
    --projDetails-titleText-size: 2.1rem;
    --projDetails-smallerText-size: 1.1rem;
    --projDetails-smallerText-color: #e2dcdc;
    --projDetails-button-color: #21070d;

    --footer-bg-color :#0f0607;
}