*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Header Related Elements */
.page-title{
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-bg{
    height: 45%;
    width: 45%;
    background: var(--projDetails-button-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 10px 5px black;
}
.title-name{
    font-size: 3rem;
    color: var(--general-text-color);
    text-align: center;
}
/***************************************/


/* Content Related Elements */
.page-content{
    background: var(--nav-bg-color);
}
.project{
    padding:5% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
}
.proj-images{
    width: 35%;
    min-width: 35%;
    overflow: hidden;
}
.proj-img{
    max-width: 100%;
    height: auto;
    margin-bottom: 4%;
}
.proj-details{
    margin-left: 5%;
}
.highlight-red{
    background: var(--proj-highlight-red);
    font-size: var(--proj-highlight-textSize);
}
.underline-red{
    border-radius: 50px;
    border-bottom: 3px solid var(--nav-hover-color);
}

.proj-about{
    margin-bottom: 8%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.proj-about p{
    margin-top: 3%;
    color: var(--projDetails-smallerText-color);
    font-size: var(--projDetails-smallerText-size);
    line-height: 1.7rem;
}
.proj-respon{
    margin-bottom: 9%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.proj-respon ul li{
    margin-top: 3%;
    color: var(--projDetails-smallerText-color);
    font-size: var(--projDetails-smallerText-size);
}
.proj-respon ul li ul li{
    margin-left: 10%;
}
.proj-misc{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.proj-misc p{
    margin-top: 3%;
    color: var(--projDetails-smallerText-color);
    font-size: var(--projDetails-smallerText-size);
}

.proj-about.appear,
.proj-respon.appear,
.proj-misc.appear{
    opacity: 1;
}
.proj-about .section-title,
.proj-respon .section-title,
.proj-misc .section-title{
    display: inline-block;
}
.proj-about h2,
.proj-respon h2,
.proj-misc h2{
    color: var(--general-text-color);
    font-size: var(--projDetails-titleText-size);
    padding-bottom: 0.5%;
    position: relative;
}
.underLine{
    height: 7px;
    width: 0%;
    border-radius: 100px;
    background: var(--projDetails-button-color);
    transition: width 0.8s ease-out;
}
.underLine.appear{
    width: 110%;
}
.svg-links{
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.svg-links-vid{
    margin-right: 30px;
    fill: var(--general-text-color);
    transition: fill 0.2s ease;
}
.svg-links-vid:hover, .svg-links-vid:active{
    fill: var(--nav-hover-color);
}

.back-top{
    text-align: center;
    align-content: center;
    margin-top: 80px;
    padding-bottom: 60px;
}
.back-top-button{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--general-text-color);
    padding: 15px;
    border-radius: 100px;
    border: var(--projDetails-button-color) 5px solid;
    transition: background 0.2s ease;
}
.back-top-button:hover, .back-top-button:active{
    background: var(--projDetails-button-color);
}

/***************************************/


/* Media Queries */
@media screen and (max-width: 880px){
    .proj-images{
        width: 100%;
        text-align: center;
    }
    .project{
        flex-direction: column;
    }

    .proj-about{
        margin-top: 3%;
    }
}
@media screen and (max-width: 795px){
    .page-title{
        height: 35vh;
    }
    .title-bg{
        height: 40%;
    }
    .title-name{
        font-size: 2rem;
    }
}
@media screen and (max-width: 505px){
    .underline-red{
        border-bottom: 3px solid var(--nav-hover-color);
    }
    .highlight-red{
        font-size: 1.3rem;
    }
    
    .title-name{
        font-size: 1.5rem;
    }

    .project{
        padding: 5% 0%, 0%, 0%;
    }
    .back-top{
        margin-top: 90px;
    }
}
@media screen and (max-width: 365px){    
    .underline-red{
        border-bottom: 2.5px solid var(--nav-hover-color);
    }
    .highlight-red{
        font-size: 1.1rem;
    }

    .page-title{
        height: 35vh;
    }
    .title-bg{
        margin-top: 10vh;
        width: 70%;
    }

    .proj-about h2,
    .proj-respon h2,
    .proj-misc h2{
        font-size: 1.6rem;
    }
    .proj-about p{
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    .proj-respon ul li,
    .proj-misc p{
        font-size: 0.9rem;
    }

    .svg-links{
        margin-top: 4%;
    }

    .back-top{
        margin-top: 80px;
        padding-bottom: 50px;
    }
    .back-top-button{
        font-size: 1rem;
    }
}
@media screen and (max-width: 280px){
    .underline-red{
        border-bottom: 2px solid var(--nav-hover-color);
    }
    .highlight-red{
        font-size: 0.9rem;
    }
    
    .title-bg{
        height: 25%;
        width: 70%;
        box-shadow: 2px 7px 5px black;
    }
    .title-name{
        font-size: 1.2rem;
    }

    .proj-about h2,
    .proj-respon h2,
    .proj-misc h2{
        font-size: 1.2rem;
    }
    .proj-about p{
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .proj-respon ul li,
    .proj-misc p{
        font-size: 0.7rem;
    }
    
    .svg-links-vid{
        margin-right: 20px;
        transform: scale(0.7,0.7);
    }

    .back-top{
        margin-top: 60px;
    }
    .back-top-button{
        padding: 10px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 220px){
    .underline-red{
        border-bottom: none;
    }
    .highlight-red{
        font-size: 0.8rem;
    }

    .title-bg{
        height: 30%;
        width: 70%;
    }
    .title-name{
        font-size: 1.1rem;
    }

    .proj-about h2,
    .proj-respon h2,
    .proj-misc h2{
        font-size: 1rem;
    }
    .proj-about p,
    .proj-respon ul li,
    .proj-misc p{
        font-size: 0.6rem;
    }
    
    .underLine{
        height: 4px;
    }
    .svg-links-vid{
        margin-right: 10px;
        transform: scale(0.6,0.6);
    }

    .back-top{
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .back-top-button{
        font-size: 0.8rem;
        padding: 10px;
    }
}
@media screen and (max-width: 155px){
    .highlight-red{
        font-size: 0.7rem;
    }

    .title-bg{
        height: 20%;
        width: 70%;
    }
    .title-name{
        font-size: 0.9rem;
    }

    .proj-about h2,
    .proj-respon h2,
    .proj-misc h2{
        font-size: 1rem;
    }
    .proj-about p,
    .proj-respon ul li,
    .proj-misc p{
        font-size: 0.6rem;
    }
    
    .underLine.appear{
        width: 100%;
    }
}
@media screen and (max-width: 135px){
    .highlight-red{
        font-size: 0.7rem;
    }
    
    .title-bg{
        height: 20%;
        width: 70%;
        box-shadow: 2px 5px 5px black;
    }
    .title-name{
        font-size: 0.7rem;
    }

    .proj-about h2,
    .proj-respon h2,
    .proj-misc h2{
        font-size: 0.8rem;
    }
    .proj-about p{
        font-size: 0.4rem;
        line-height: 0.6rem;
    }
    .proj-respon ul li,
    .proj-misc p{
        font-size: 0.4rem;
    }

    .svg-links-vid{
        margin-right: 5px;
        transform: scale(0.4,0.4);
    }

    .back-top{
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .back-top-button{
        font-size: 0.6rem;
        padding: 8px;
    }
}
/***************************************/



/* Animations */
