*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/* Header Related Elements */
.page-title{
    height: 45vh;
    /* background: var(--nav-border-color); */
    background-image: linear-gradient(90deg, var(--nav-bg-color), var(--nav-border-color), var(--nav-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-bg{
    height: 55%;
    width: 50%;
    background: var(--projDetails-button-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 10px 5px black;

    opacity: 0;
    animation: fadeIn_Top 1s ease forwards;
}
.title-name{
    font-size: 3rem;
    color: var(--white-text-color);
}
/***************************************/


/* Content Related Elements */
.page-content{
    min-height: 100vh;
    background: var(--nav-bg-color);
    /* background-image: linear-gradient(90deg, var(--nav-bg-color), var(--nav-border-color), var(--nav-bg-color)); */
}

.proj-showcase{    
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    justify-content: center;
    padding: 5% 0%;
}
.proj-break{
    flex-basis: 100%;
    height: 0;
}
.proj-card{
    width: 22rem;
    opacity: 0;
    transition: opacity 250ms ease-in;
    /*padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--projDetails-button-color); */
}
.proj-card.appear{
    opacity: 1;
}
.proj-img-container{
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    height: 16rem;
}
.proj-img-container a{
    height: inherit;
}
.proj-img{
    max-width: 100%;
    width: 100%;
    height: inherit;
    
    transition: transform 0.9s ease;
}
.proj-details-container{
    padding: 2% 0%;
    background: linear-gradient(-10deg, var(--proj-cardBg-color), var(--nav-bg-color));
}
.proj-name{
    margin-left: 1%;
    font-size: 1.5rem;
}
.proj-name a{
    text-decoration: none;
    color: var(--white-text-color);

    transition: color 0.5s ease;
}
.proj-name a p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.proj-tag-container{
    margin-top: 2%; 
}
.proj-tag{
    display: inline;
    color: var(--white-text-color);
    padding: 1.5%;
    margin-right: 2%;
    border-radius: 10px;
    font-size: 0.9rem;
    background: var(--projDetails-button-color);
}
.proj-synopsis-container{
    margin-top: 6%;
}
.proj-synopsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--darker-text-color);
}
/***************************************/


/* Media Queries */
@media screen and (max-width: 1300px){
    .proj-showcase{
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 8rem;
    }
}
@media screen and (max-width: 950px){
    .page-title{
        height: 35vh;
    }
    .title-bg{
        height: 40%;
    }
    .title-name{
        font-size: 2rem;
    }

    .proj-showcase{
        padding-top: 20%;
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 0px;
        grid-row-gap: 80px;
    }
}
@media screen and (max-width: 415px){
    .page-title{
        height: 35vh;
    }
    .title-bg{
        margin-top: 10vh;
        width: 70%;
    }

    .proj-showcase{
        grid-row-gap: 40px;
    }
    .proj-card{
        width: 15rem;
    }
    .proj-img-container{
        height: 11rem;
    }
}
@media screen and (max-width: 250px){
    .title-bg{
        height: 30%;
        width: 70%;
    }
    .title-name{
        font-size: 1.5rem;
    }

    .proj-showcase{
        grid-row-gap: 30px;
    }
    .proj-card{
        width: 10rem;
    }
    .proj-img-container{
        height: 6rem;
    }
    .proj-name{
       font-size: 1.1rem;
    }
    .proj-tag{
        font-size: 0.75rem;
    }
    .proj-synopsis{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 170px){
    .title-bg{
        height: 25%;
        width: 70%;
    }
    .title-name{
        font-size: 1.3rem;
    }

    .proj-showcase{
        padding-top: 30%;
        grid-row-gap: 20px;
    }
    .proj-card{
        width: 7rem;
    }
    .proj-img-container{
        height: 4rem;
    }
    .proj-name{
       font-size: 0.9rem;
    }
    .proj-tag{
        font-size: 0.65rem;
    }
    .proj-synopsis{
        font-size: 0.7rem;
    }
}
/***************************************/



/* Animations */
@keyframes fadeIn_Top {
	from {
		opacity: 0;
		transform: translate(0, -15%);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}